

//colors 

$black:#000;
$white:#fff;
$white-gray:#f4f5f9;
$red:#e74c3c;
$gray-light:#cbc6c0;
$advantiges-line:#e6e7eb;
$advantiges-gray:#9999;
$gray:#6a6a6a;
$footer-color:#202020;



//font


//sizes
