@import "partials/mixins";
@import "partials/params";
@import "partials/reset";
@import "partials/fonts.scss";

.footer{
background-color: $footer-color;
padding: 35px 0;
& .footer__wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width:480px) {
  flex-direction: column;
  justify-content: center;
        }
  & .footer__left{
    .socials{
      display: flex;
 
    @media (max-width:480px) {
     margin-bottom: 20px;
      justify-content: center;
            }
    li{
      margin-right: 20px;  
     a{
       transition-duration: 0.3s;
       transition-property: box-shadow; 
        &:hover{
          box-shadow: 0px 2px 7px 1px $red;
        }
      
      }    
      }
    }
    }

  }
  & .footer__right{
    p{
      font-size: 14px;
      color: $advantiges-gray;
      line-height: 24px;
      font-weight: 600;
    }

  }

}

