
@import "partials/mixins";
@import "partials/params";
@import "partials/reset";
@import "partials/fonts.scss";

.section-top{
  background: url("img/section-top-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);



  &::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
  }
  &__header{
    @include flex();
    padding: 40px 0;
    z-index: 2;
    position: relative;
    @media (max-width:768px) {
      flex-wrap: wrap;
    }
    & .section-top__logo {
      @media (max-width:768px) {
     flex-basis: 100%;
     text-align: center;
     margin-bottom: 30px;
      }
    }
    & .section-top__menu {
      flex-basis: 60%;
      @media (max-width:768px) {
  flex-basis: 100%;
  padding: 0 10px;
      }
      ul{
        @include flex();
        flex-wrap: wrap;
        @media (max-width:560px) {
    justify-content: center;
        }
        li{
          margin: 0 5px;
          @media (max-width:768px) {
         margin: 5px;
           }
       a{
        color: $white-gray;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        padding-bottom: 17px;
        border-bottom: 1px solid transparent;
        transition: all 0.3s;
        @media (max-width:768px) {
         padding-bottom: 0;
         border-bottom:none;
         }
        &:hover{
          border-bottom-color: $red;
          color: $red;
          @media (max-width:768px) {
            border-bottom:none;
           }
        }
       }
        }
      }

    }


  }
  &__info{
    padding: 180px 0 300px;
    text-align: center;
    position: relative;
    z-index: 2;
    @media (max-width:980px) {
      padding-top: 50px;
    }
    h1{
      font-size: 24px;
      letter-spacing: 1.2px;
      color: $white-gray;
      font-family: 'Source Sans Pro';
      text-transform: capitalize;
      
      span{
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 7.2px;
        margin: 30px 0 20px;
        display: block;
        font-family: 'Open Sans';
        @media (max-width:980px) {
         font-size: 50px;
        }

      }
    }
    > p{
      color: $gray-light;
      max-width: 600px;
      margin: 20px auto;
      font-size: 14px;
      line-height: 24px;
      @media (max-width:768px) {
      max-width: 100%;
       }
      

    }
    & .buttons{
      a{
        @include btn($bg:$red, $two-button:true);
        @media (max-width:560px) {
     margin: 10px auto;
     display: block;
     &:first-child{
       margin: 15px auto;
     }
        }
      }
    }
  }
}
